* {
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    background-color: transparent;
    overflow: hidden;
    cursor: url('./cursor/Normal.png'), default;
    font-family: Inter, sans-serif;
}

nav {
    height: 25px;
    z-index: 1;
    position: fixed;
    top: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
}

.left {
    display: flex;
}

.folders {
    margin-top: 20px;
}

.folders_img {
    width: 95%;
}

.bg {
    background-image: url("./wallpaper.jpg");
    height: 100vh;
    width: 100vw;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.logo img {
    width: 23px;
    cursor: url('./cursor/Link.png'), pointer;
}

.logo {
    position: relative;
}

.show {
    opacity: 1 !important;
    visibility: visible !important;
}

.options_container {
    width: max-content;
    opacity: 0;
    transition: opacity .2s ease, visibility .2s ease;
    height: max-content;
    display: flex;
    box-shadow: 6px 6px 5px -5px rgba(255, 255, 255, 0.6) inset,
        -6px -6px 5px -5px rgba(255, 255, 255, 0.6) inset;
    padding: 8px;
    border-radius: 5px;
    position: absolute;
    border: 1px solid black;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.6);
}

.options_button {
    background-color: transparent;
    outline: none;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    padding: 4px 0;
    width: 180px;
    cursor: url('./cursor/Normal.png'), default;
}

.options_button:hover {
    background-color: rgb(0, 102, 255);
    color: white;
}

.content {
    height: 100%;
    display: flex;
    justify-content: space-between;
    width: 99%;
}

.app_name {
    font-size: 20px;
    cursor: url('./cursor/Normal.png');
    height: fit-content;
    border-radius: 4px;
    padding: 0 10px;
    margin-left: 10px;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right div {
    cursor: url('./cursor/Normal.png'), default;
}

.right_buttons {
    gap: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.app_name:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.right {
    display: flex;
}

.currentTime {
    font-size: 19px;
    cursor: url('./cursor/Normal.png'), default;
}

::selection {
    background-color: rgba(255, 255, 255, 0.719);
    color: rgb(0, 0, 0);
}

.parent-finder {
    width: 50vw;
    height: 60vh;
    opacity: 1;
    visibility: visible;
    transition: width .2s ease, height .2s ease, margin .2s ease;
    margin: 15vh auto 0 auto;
}

.increaseAppSize {
    width: 75vw;
    height: 85vh;
    margin: 4vh auto 0 auto;
}

.increaseAppSize .vscodescreen{
    width: 68vw;
    cursor: url('./cursor/Link.png'), pointer;
}

.increaseAppSize .vscodenav .finder_nav_cbuttons {
    width: 1.5rem;
    height: 1.5rem;
}

.increaseAppSize .vscodenav {
    margin-top: 1.65rem !important;
    margin-right: 20px !important;
    gap: 2.5rem !important;
}

#finder_content.increaseAppSize{
    width: 100%;
    height: 100%;   
}

.finder {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 100%;
}

.div1-f {
    grid-column: span 2 / span 2;
    grid-row: span 5 / span 5;
    background-color: rgba(255, 255, 255, 0.8);
    height: 100%;
    border-top-left-radius: .6rem;
    border-bottom-left-radius: .6rem;
}

.div2-f {
    grid-column: span 6 / span 6;
    grid-row: span 5 / span 5;
    box-shadow: -3px 0px 10px rgba(0, 0, 0, 0.281);
    grid-column-start: 3;
    border-top-right-radius: .6rem;
    border-bottom-right-radius: .6rem;
    height: 100%;
    background-color: rgb(255, 255, 255);
}

.finder_folders {
    width: 80%;
    padding: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.active_finder_folder {
    transition: all .1s ease-in-out;
    background-color: #ffffffb2;
}

.active_finder_folder:hover {
    background-color: #fff !important;
}

.finder_folder {
    padding: 6px 15px;
    display: flex;
    border-radius: 6px;
    cursor: url('./cursor/Link.png'), pointer;
    font-size: 18px;
}

.finder_folder:hover {
    background-color: #ffffff50;
}

.folder_name {
    font-size: 22px;
}

.divider_right {
    height: 1px;
    width: 95%;
    margin-left: 2.5%;
    background-color: rgba(0, 0, 0, 0.637);
}

.finder_nav {
    display: flex;
    gap: 8px;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
}

.finder_nav_cbuttons {
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: rgb(32, 32, 32);
    border: none;
    outline: none;
}

.finder_nav_cbuttons i,
.finder_nav_cbuttons svg {
    display: none;
}

.finder_nav_cbuttons:hover i,
.finder_nav_cbuttons:hover svg {
    display: block;
}

.finder_nav_cbuttons:nth-child(1) {
    background-color: rgb(242, 93, 82);
}

.finder_nav_cbuttons:nth-child(2) {
    background-color: rgb(253, 181, 56);
}

.finder_nav_cbuttons:nth-child(3) {
    background-color: #12c626;
}

footer {
    width: 100vw;
    height: 10vh;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vscodescreen {
    border-radius: 10px;
}

.vscode_app {
    position: relative;
}

#codingArea {
    position: absolute;
    top: 14%;
    outline: none;
    background-color: #0a0a0a;
    border: none;
    width: 95%;
    font-size: 20px;
    resize: none;
    font-family: monospace;
    height: 79%;
    left: 5%;
}

#codingArea::-webkit-scrollbar {
    width: 10px;
    cursor: url('./cursor/Normal.png'), default;
    background-color: #0a0a0a;
}

#codingArea::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: #ffffff23;
}

#codingArea::selection {
    background-color: #ffffff48;
    color: white;
}

.vscode_app .finder_nav {
    position: absolute;
    top: 0;
    right: 0;
    margin-left: 0;
    margin-right: 1rem;
    gap: 1.7rem;
    margin-top: 1rem;
}

.dock-container {
    width: fit-content;
    position: absolute;
    bottom: 8px;
    height: fit-content;
}

.dock {
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.45);
    border: 1px solid rgba(0, 0, 0, 0.493);
    display: flex;
    height: 55px;
    border-radius: 24px;
    gap: 30px;
    transition: transform .2s ease-out;
    position: relative;
    padding: 16px;
}

.bg-blur {
    position: absolute;
    background-color: #949494;
    width: 100% !important;
    z-index: 0 !important;
    left: 0;
    filter: blur(100px);
    top: 0;
    overflow: hidden;
    height: 100% !important;
}

.dock div img {
    border-radius: 13px;
    width: 55px;
    height: 55px;
}

.dock_apps{
    position: relative;
}

.dock .dock_apps, .dock .dock_apps img, .dock .dock_apps .calendar {
    transition: transform .12s cubic-bezier(.2, .8, .2, 1);
    transform-origin: bottom center;
}

.dock div {
    width: 55px;
    z-index: 1;
    height: 55px;
    cursor: default;
}

.hide_app {
    opacity: 0;
    visibility: none;
    pointer-events: none;
    animation: mac_hide_app .25s ease;
}

@keyframes mac_hide_app {
    0% {}
    50% {
        transform: scale(.6);
    }
    100% {
        transform: scale(.2);
    }
}

.calendar .top {
    height: 35%;
    width: 100%;
    text-align: center;
    transition: font-size .2s ease;
    color: white;
    font-weight: bold;
    font-size: 14px;
    box-shadow: inset 1px 10px 10px rgba(255, 255, 255, 0.1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgb(242, 93, 82);
}

.dock .finder_dock::before {
    content: '';
    width: 8px;
    height: 8px;
    left: 45%;
    bottom: -0.8rem;
    border-radius: 50%;
    position: absolute;
    background-color: #ffffffb4;
}

#app {
    transition: opacity .1s ease-in, visibility .1s ease;
}

.calendar .bottom {
    font-size: 28px;
    width: 100%;
    text-align: center;
    transition: font-size .2s ease;
    height: 65%;
    background-color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.dock_app_info {
    position: relative;
}

.dock_app_info::after {
    content: attr(data-info);
    position: absolute;
    bottom: 110%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333333ad;
    color: #fff;
    padding: 4px 8px;
    border: 1px solid rgba(0, 0, 0, 0.562);
    border-radius: 8px;
    box-shadow: inset 1px 1px 4px rgba(255, 255, 255, 0.452);
    white-space: nowrap;
    font-size: 16px;
    opacity: 0;
    visibility: hidden;
    font-weight: 500;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 10;
}

.dock_app_info:hover::after {
    opacity: 1;
    visibility: visible;
}

.increaseSide {
    transform: scale(1.2);
}